Repository RegioHelden/loci-pypi-test, pull requests merged in 2025-03, with the labels that each got.

#6 Release v0.2.0
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#7 Feature 8
  README.md
Labels: bug

#9 Bugfix 9
  README.md
Labels: bug

#10 Release v0.2.1
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#11 Split tag release from lint workflow
  .github/workflows/tag-release.yaml
  .github/workflows/workflow.yaml
Labels: enhancement

#12 Publish package to test pypi
  pyproject.toml
Labels: feature

#15 Release v0.3.0
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#16 Only publish to testpypi but use default to resolve
  .github/workflows/build-and-publish.yaml
  pyproject.toml
Labels: bug

#17 Release v0.3.0
  CHANGELOG.md
Labels: skip-changelog

#18 Feature 10
  README.md
Labels: feature

#20 Release v0.4.0
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#21 Forward environment variables to publish action
  .github/workflows/build-and-publish.yaml
Labels: bug

#22 Release v0.4.1
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#23 Set runs on for publish command
  .github/workflows/build-and-publish.yaml
Labels: bug

#24 Fix variables job
  .github/workflows/build-and-publish.yaml
Labels: bug

#25 Publish locally
  .github/workflows/build-and-publish.yaml
Labels: feature

#26 Release v0.5.0
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#27 Deploy to test pypi only
  .github/workflows/build-and-publish.yaml
Labels: feature

#28 Release v0.5.0
  CHANGELOG.md
Labels: skip-changelog

#30 Release v0.5.0
  CHANGELOG.md
Labels: skip-changelog

#31 Set proper permissions for workflows
  .github/workflows/build-and-publish.yaml
  .github/workflows/check_pull_request.yaml
  .github/workflows/cron.yaml
  .github/workflows/open-release-pr.yaml
  .github/workflows/tag-release.yaml
  .github/workflows/workflow.yaml
Labels: enhancement

#32 Release v0.5.0
  CHANGELOG.md
Labels: skip-changelog

#33 Release v0.5.0
  CHANGELOG.md
Labels: skip-changelog

#34 Reactivate publish
  .github/workflows/build-and-publish.yaml
Labels: enhancement

#35 Release v0.6.0
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#36 Move pypi publish back to local repo
  .github/workflows/build-and-publish.yaml
  .github/workflows/workflow.yaml
Labels: enhancement

#37 Release v0.7.0
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#38 publish to testpypi for demonstration purposes
  .github/workflows/build-and-publish.yaml
  README.md
Labels: feature

#39 Release v0.8.0
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#41 Release v1.0.0
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog
